<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fast Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/juiceShop.css">
    <script src="https://cdn.tiny.cloud/1/e95cnzodq6qskb9j0ee5wjvbo0vjw6sfxz7s9ncewyvmlmw7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({selector: 'textarea', 
  plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
  toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline striketrhough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
  
  });
  </script>
    <base href="/"> 
</head> 
<body>
    <div class="container">    
        <div class="image-header">      
            <img src="/images/good-food-logo.png">
            </div>
      <div class="tag-line">
        <strong><em>Flavors inspired by the seasons</em></strong>
      </div>
     
    </div>
  