<%- include('layouts/header'); -%>
<body>
    <nav>
     <li><a href="/allOrders">All Orders</a></li>  
            </nav>
  <section >
    <div class="login-container">
        <p id="formResult"> <%= message %> </p>
    </div>
    </section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>